.bar {
    width: 100%;
    background-color: #efefef;
    height: 3rem;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 0;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    border-radius: 3px;
    display: flex;
    background: lightgrey;
    color: darkslategrey;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-left: -4.2rem;
    padding: 0 0.8rem;
}
.logo:hover {
    color: white;
    background: #282c34;
}
